<div class="container">
    <div class="row">
        <div class="col-12">
            <form>
            	<div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name" ng-model="user.name">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" ng-model="user.email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.password">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="createUser(user);">Submit</button>
            </form>
        </div>
    </div>
</div>